<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <img alt="image" class="img-responsive" src="<%= image_url 'headerlogo.jpg' %> " height="50px" />
        <!--  <div class="col-lg-6">
        <img alt="image" src="<%= image_url 'l3.jpg' %>" style="margin-left:-15px;" />
        </div>
        <div class="col-lg-2">
        <img alt="image" src="<%= image_url 'l2.jpg' %>" style="align:center;"/>
        </div>
        <div class="col-lg-4">
            <img alt="image" src="<%= image_url 'l1.jpg' %>" style="margin-top:15px;margin-left:220px;" />
        </div>  -->
     
        <div class="clearfix"></div>
         <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'langs', :action => 'show' %>">Factory Searcher</a>
            </li>
             <li class="active">
                <b>Factory Details</b>
            </li>
        </ol>
        
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
      <div class="col-lg-12">
        <div class="">
            <!-- <div class="ibox-title">
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div> -->
            <div class="">
              <div class="row"> 
                <div class="col-lg-12">
                  <div class="panel panel-info">
                        <div class="panel-heading">
                          Factory Details
                      </div>
                      <div class="panel-body">
                         <div class="row">
                            <%= form_tag(update_lang_path,:method => "post", class: "navbar-form") do %>
                            <div class="col-lg-6"> 
                                <table class="table borderless">
                                    <div class="row">
                                      <% @fname.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-4">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-8">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fown_org.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-4">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-8">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                    </div> 
                                </table> 
                            </div>
                             <div class="col-lg-6"> 
                                <table class="table borderless">
                                    <div class="row">
                                      <% @fweb.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-4">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-8">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                    </div> 
                                </table> 
                            </div>
                         <% end %>
                    </div>
                  </div>
                   </div>
                  <div class="col-lg-8">
                   <div class="panel panel-warning">
                        <div class="panel-heading">
                         Factory Address
                      </div>
                      <div class="panel-body">
                            <div class="row">
                              <div class="col-lg-6">
                                  <table class="table borderless">
                                    <div class="row">
                                      <% @fpaddress.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fdistrict.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fpob.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fpob_pc.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fphone.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @flicense.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fblockno.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @ftype.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                    </div>
                                  </table>
                              </div>
                               <div class="col-lg-6">
                                  <table class="table borderless">
                                    <div class="row">
                                      <% @fcity.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fpostal_Code.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fpob_city.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fstate.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fmobile.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fgps.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                      <% @fnoemp.each do |a|%>  
                                        <tr> 
                                            <div class="col-lg-6">
                                              <td><b><%= a.property%></b></td>
                                            </div>
                                            <div class="col-lg-6">
                                              <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                            </div>
                                        </tr>
                                      <% end %>
                                    </div>
                                  </table>
                              </div>
                           </div>       
                      </div>
                    </div>
                   <div class="panel panel-danger">
                      <div class="panel-heading">
                        Manufacturer Details
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-6">
                        <table class="table borderless">
                          <% @fmfg_isic.each do |a|%>  
                          <tr> 
                              <div class="col-lg-4">
                                <td><b><%= a.property%></b></td>
                              </div>
                              <div class="col-lg-8">
                                <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                              </div>
                          </tr>
                        <% end %>
                          <% @fmfg_capacity.each do |a|%>  
                          <tr> 
                              <div class="col-lg-4">
                                <td><b><%= a.property%></b></td>
                              </div>
                              <div class="col-lg-8">
                                <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                              </div>
                          </tr>
                        <% end %>
                        </table>
                        </div>
                        <div class="col-lg-6">
                          <table class="table borderless">
                          <% @fmfg_uom.each do |a|%>  
                          <tr> 
                              <div class="col-lg-4">
                                <td><b><%= a.property%></b></td>
                              </div>
                              <div class="col-lg-8">
                                <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                              </div>
                          </tr>
                        <% end %>
                          <% @fmfg_period.each do |a|%>  
                          <tr> 
                              <div class="col-lg-4">
                                <td><b><%= a.property%></b></td>
                              </div>
                              <div class="col-lg-8">
                                <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                              </div>
                          </tr>
                        <% end %>
                        </table>
                        </div>
                      </div>
                    </div>
                    
                    </div>
                </div>
                <div class="col-lg-4">
                <div class="ibox collapsed border-bottom" style="border:1px solid #0C78B8;">
                    <div class="ibox-title" style="background:#0C78B8;">
                        <h5 style="color:#f3f3f4 !important;">Responsible Party</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up" style="color:#f3f3f4 !important;"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                      <table class="table borderless">
                        <div class="row">
                          <% @frelation.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                          <% @frelation_title.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                          <% @frelation_email.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                        </div>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                 <div class="ibox collapsed border-bottom" style="border:1px solid #1DB494;">
                    <div class="ibox-title" style="background:#1DB494;">
                        <h5 style="color:#f3f3f4 !important;">Third Party</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up" style="color:#f3f3f4 !important;"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                    <table class="table borderless">
                        <div class="row">
                          <% @ftp_name.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                          <% @ftp_title.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                          <% @ftp_email.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                        </div>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                <div class="ibox collapsed border-bottom" style="border:1px solid #23C6C8;">
                    <div class="ibox-title" style="background:#23C6C8;">
                        <h5 style="color:#f3f3f4 !important;">Construction Details</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up" style="color:#f3f3f4 !important;"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                    <table class="table borderless">
                        <div class="col-lg-12">
                          <% @fcs_type.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                          <% @fland_type.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                          <% @fsite_land.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                          <% @find_city.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                          <% @find_land.each do |a|%>  
                            <tr> 
                                <div class="col-lg-4">
                                  <td><b><%= a.property%></b></td>
                                </div>
                                <div class="col-lg-8">
                                  <td><input type="text" class="form-control" value="<%= a.Value %>"></td>
                                </div>
                            </tr>
                          <% end %>
                        </div>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>   
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    var updateOutput = function (e) {
        var list = e.length ? e : $(e.target),
                output = list.data('output');
        if (window.JSON) {
            output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
        } else {
            output.val('JSON browser support required for this demo.');
        }
    };
    // activate Nestable for list 1
    $('#nestable').nestable({
        group: 1
    }).on('change', updateOutput);

    // activate Nestable for list 2
    $('#nestable2').nestable({
        group: 1
    }).on('change', updateOutput);

    // output initial serialised data
    updateOutput($('#nestable').data('output', $('#nestable-output')));
    updateOutput($('#nestable2').data('output', $('#nestable2-output')));

    $('#nestable-menu').on('click', function (e) {
        var target = $(e.target),
                action = target.data('action');
        if (action === 'expand-all') {
            $('.dd').nestable('expandAll');
        }
        if (action === 'collapse-all') {
            $('.dd').nestable('collapseAll');
        }
    });

});

</script>

<% end %>